.chip-icons {
  font-size: 0.5rem;
}

#projects {
  background-color: #0a192f;
  padding-bottom: 20px;
}

.project-image {
  transition: transform 0.2s ease-in-out;
  transform: translateY(0) translateX(0);
}

.project-image:hover {
  transition: transform 0.2s ease-in-out;
  transform: translateY(-0.5rem) translateX(0.5rem);
}

.project-icon:hover {
  color: #64ffda;
}

.project-wrapper:nth-child(odd) {
  flex-direction: row-reverse;
}

.project-title::after {
  content: "";
  display: flex;
  height: 1px;
  width: 100%;
  opacity: 0.5;
  background-color: #64ffda;
  margin-top: 0.2rem;
}
