.nav-link {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-container {
  color: white;
}

.nav-link:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 2px rgb(144, 144, 144);
}

.nav-container.scroll {
  background-color: #4fc3dc;
  transition: 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .nav-container {
    display: none !important;
    flex-direction: column;
    background-color: #4fc3dc;
    row-gap: 0.5rem;
    padding: 0.5rem;
  }

  .show {
    display: flex !important;
  }
}
